version: '3'
services:
    wordpress:
        image: 'public.ecr.aws/docker/library/wordpress:${WORDPRESS_VERSION:-latest}'
        container_name: 'wordpress'
        ports:
            - '80:80'
        volumes:
            - .wordpress:/var/www/html
            - ./test_credentials:/tmp/test_credentials
        environment:
            WORDPRESS_DB_HOST: database
            WORDPRESS_DB_USER: wordpress
            WORDPRESS_DB_PASSWORD: wordpress
            WORDPRESS_DB_NAME: wordpress
            WORDPRESS_CONFIG_EXTRA: |
                # Allow application passwords to be used without HTTPS
                define( 'WP_ENVIRONMENT_TYPE', 'local' );
        healthcheck:
            test: ["CMD", "bash" ,"-c", "[ -f /var/www/html/wp-config.php ]"]
            interval: 4s
            timeout: 1s
            retries: 30

    database:
        image: 'public.ecr.aws/docker/library/mariadb:11.2'
        ports:
            - '3306:3306'
        environment:
            MYSQL_DATABASE: 'wordpress'
            MYSQL_USER: 'wordpress'
            MYSQL_PASSWORD: 'wordpress'
            MYSQL_RANDOM_ROOT_PASSWORD: true
